# OS junk
.DS_Store
Thumbs.db

parser 
syntax.tab.c 
syntax.tab.h 
lex.yy.c
comp.output 
comp.tab.c
comp.tab.h

syntaxExtreme/parser 
syntaxExtreme/syntax.tab.c 
syntaxExtreme/syntax.tab.h 
syntaxExtreme/lex.yy.c
syntaxExtreme/comp.output 
syntaxExtreme/comp.tab.c
syntaxExtreme/comp.tab.h